@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --clr-main-primary: #7E9CFF;
    --clr-main-secondary: #445FB7;
    --clr-accent: #FFC765;
    --clr-font: #242424;
    --clr-border: #DEDEDE;
    --clr-shadow: rgba(0, 0, 0, 0.15);
    --clr-success: #48FF7F;
    --clr-error: #FF4848;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    color: var(--clr-font);
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.index-main {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--clr-main-primary);
    color: var(--clr-main-secondary);
}

.index__title {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.converters-list {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    list-style: none;
}

.converters-list__item {
    margin-bottom: 1rem;
}

.converters-list__link {
    padding: 1rem 4rem;
    display: block;
    width: 100%;
    color: inherit;
    border: 1px solid var(--clr-main-secondary);
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
}

.index-footer {
    position: fixed;
    width: 100%;
    bottom: 1rem;
    color: var(--clr-main-secondary);
    text-align: center;
}

.footer__link {
    color: var(--clr-accent);
    text-decoration: none;
}

.single-header {
    position: relative;
    padding: 0.5rem;
    background: var(--clr-main-primary);
    border-bottom: 1px solid var(--clr-main-secondary);
}

.hamburger {
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 3rem;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger > span {
    height: 0.5rem;
    width: 100%;
    background: var(--clr-accent);
}

.single-navigation {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 100%;
    justify-content: center;
    background: var(--clr-main-primary);
    z-index: 1;
}

.single-navigation--on {
    display: flex;
}

.single-main {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.data__label {
    margin: 0 0 0.25rem 0;
    color: var(--clr-main-secondary);
    font-size: 0.75rem;
}

.data__input {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    color: inherit;
    border: 1px solid var(--clr-border);
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.5rem var(--clr-shadow);
    font-family: inherit;
    width: 100%;
}

.data__input--success,
.data__input--error {
    border-right-width: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.data__input--success {
    border-color: var(--clr-success);
    box-shadow: 0 0.125rem 0.5rem var(--clr-success);
}

.data__input--error {
    border-color: var(--clr-error);
    box-shadow: 0 0.125rem 0.5rem var(--clr-error);
}

.convert-btn {
    padding: 0.5rem 1rem;
    width: 100%;
    background: var(--clr-main-primary);
    color: var(--clr-main-secondary);
    border: 1px solid var(--clr-main-secondary);
    border-radius: 0.5rem;
    cursor: pointer;
}

.result {
    margin-top: 2rem;
    color: var(--clr-main-secondary);
    text-align: center;
}

.result__label {
    font-size: 0.75rem;
}

.result__value {
    font-size: 3rem;
}

@media only screen and (min-width: 600px) {
    .index-main {
        padding-top: 0;
    }

    .index__title {
        margin-bottom: 4rem;
        font-size: 4rem;
    }

    .index-footer {
        width: auto;
        right: 1rem;
    }

    .index__nav {
        margin: 0 auto;
        width: 568px;
    }

    .converters-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .converters-list__link {
        transition: background 0.5s, box-shadow 0.5s;
    }

    .converters-list__link:hover {
        background: var(--clr-accent);
        box-shadow: 0 0 32px var(--clr-shadow);
    }

    .data, .convert-btn {
        width: 300px;
    }

    .single-header {
        padding: 0.5rem 2rem;
    }

    .single-navigation {
        width: 20rem;
    }

    .single-navigation > .converters-list {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 900px) {
    .index__nav {
        width: 868px;
    }
}

@media only screen and (min-width: 1200px) {
    .index__nav {
        width: 1168px;
    }
}